# Core ML and Deep Learning
tensorflow==2.19.0
torch
torchvision
torchaudio
transformers
accelerate
datasets
evaluate
keras==3.13.2
# Computer Vision & Image Processing
opencv-python
Pillow
albumentations
pytesseract
pdf2image

# Data Processing & Utilities
numpy
pandas
scikit-learn
tqdm
tensorboard

# Visualization & Notebook Development
matplotlib
seaborn
jupyterlab
pydot
